---
import Layout from '@/layout.astro'
import Header from '@/components/Header.astro'
import Features from '@/components/Features.astro'
---



<Layout>
  <main>
    <Header/>
    <Features />
  </main>
</Layout>
