<section class="px-10 py-20 text-gray-200 border-b border-malibu-900">
  <div class="flex flex-col gap-5 text-center">

    <h2 class="text-4xl text-malibu-200 font-bold">Una desición estratégica y operativa</h2>
    <p class="font-semibold text-xl">Escencial para mejorar tu <span class="text-green-500">competividad </span>, <span class="text-green-500">eficiencia</span>, y <span class="text-green-500">reputación</span>.</p>
  </div>

  <div class="flex flex-col flex-wrap justify-center lg:flex-row gap-12 items-center my-12">
    <article class="w-2/3 lg:w-1/3 text-left">
      <div class="flex gap-5 items-center my-5">
        <img src="strategy-brainstorm-svgrepo-com.svg" alt="icono de engranaje" class="w-8">
        <h3 class="text-malibu-200">Consultorías</h3>
      </div>
      <p class="text-gray-200 leading-6">Consultorías enfocadas en guiarte hasta el mayor cumplimiento según las necesidades de tu empresa.</p>
      <a href="/" class="text-malibu-200 inline-flex my-2 gap-2">Más <img src="right-arrow-svgrepo-com.svg" alt="" class="w-4"></a>
    </article>

    <article class="w-2/3 lg:w-1/3 text-left">
      <div class="flex gap-5 items-center my-5">
        <img src="certificate-svgrepo-com.svg" alt="icono de medalla con un check al centro" class="w-8">
        <h3 class="text-malibu-200">Cursos</h3>
      </div>
      <p class="text-gray-200 leading-6">Tenemos un gran número de cursos para que te certifiques en ISO9001:2015, SA8000, ISO14001, ISO22000 y otros más.</p>
      <a href="/" class="text-malibu-200 inline-flex my-2 gap-2">Más <img src="right-arrow-svgrepo-com.svg" alt="" class="w-4"></a>
    </article>

    
    <article class="w-2/3 lg:w-1/3 text-left">
      <div class="flex gap-5 items-center my-5">
        <img src="research-svgrepo-com.svg" alt="icono de medalla con un check al centro" class="w-8">
        <h3 class="text-malibu-200">Auditorías internas</h3>
      </div>
      <p class="text-gray-200 leading-6">Diseñado es evaluar el cumplimiento de tu empresa enfocado en la mejora y las buenas prácticas.</p>
      <a href="/" class="text-malibu-200 inline-flex my-2 gap-2">Más <img src="right-arrow-svgrepo-com.svg" alt="" class="w-4"></a>
    </article>

  </div>
</section>
